.qa_block {
  margin-top: 215px;
}

.qa_qas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qa_header {
  font-size: 36px;
  text-shadow: #2DAB66 0 0 10px;
  margin-bottom: 80px;
}