.teammate {
  width: 350px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teammate_avatar,
.teammate_name,
.teammate_position {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-family: 'Play', sans-serif;
  font-weight: 700;
}

.teammate_name {
  font-size: 20px;
}

.teammate_contacts {
  display: flex;
  flex-direction: column;
  font-family: 'Play', sans-serif;
  font-weight: 700;

}

.contactBody{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}
