.teammate {
  width: 350px;
  padding: 0 15px;
  margin-bottom: 25px;
}

.teammate_avatar,
.teammate_name,
.teammate_position {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-family: 'Play', sans-serif;
  font-weight: 700;
}

.teammate_name {
  font-size: 20px;
}

.teammate_contacts {
  font-family: 'Play', sans-serif;
  font-weight: 700;
}