.offer {
  &_wrapper {
    margin-top: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_text_mobile {
    display: none;
  }

  &_empty_space {
    margin-top: 76px;
  }

  &_options_wrapper {
    display: flex;
    gap: 25px;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    margin: 40px 5% 0 5%
  }
}

@media screen and (max-width: 818px) {
  .offer {

    &_text_mobile {
      display: block;
      font-size: 14px;
      width: 300px;
      max-width: 100%;
      font-family: Play, sans-serif;
      font-weight: 700;
      margin-top: 44px;
      text-align: start;
    }
  }

}

@media screen and (max-width: 576px) {
  .offer {
    &_wrapper {
      margin-top: 76px;
    }

    &_empty_space {
      margin-top: 13px;
    }


  }
}

@media screen and (max-width: 1200px) {
  .offer {
    &_options_wrapper {
      flex-wrap: wrap;
      row-gap: 45px;
    }
  }
}
