.container {
  display: flex;
  flex-direction: column;
  gap:20px
}

.feedbackContainer{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 576px) {
  .feedbackContainer {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-size: 36px;
  line-height: 120%;

  text-align: center;
  text-transform: uppercase;

  text-shadow: 0px 0px 20px #2dab66;
  margin-bottom: 78px;
}


.feedback_flex_wrapper {
  display: flex;
  width: 100%;
  max-width: 850px;

  .feedback_container {
    width: 100%;
    margin-top: 80px;
    .others_flex {
      gap: 0;
      display: flex;
      flex-direction: row;

    }
  }
}

.company_feedback {
  border: 2px solid white;
  border-radius: 20px;
  padding: 40px;
  max-width: 100%;
  margin: 15px;
  flex: 1;
}


.feedback_title {
  text-align: left;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #13E974;
}

.feedback_container p {
  font-family: 'Play', sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-top: 1em;

  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .feedback_flex_wrapper .feedback_container .others_flex {
    //gap: 0;
    //display: flex;
    flex-direction: column;
  }
  .feedback_container {
    margin-top: 40px!important;
  }
  .title {
    margin-bottom: 0;
    font-size: 20px;
  }
  .company_feedback {
    margin: 12px 0;
    padding: 16px;
  }
  .feedback_title {
    font-size: 14px;
    text-align: center;
  }

  .feedback_container p {
    font-size: 14px;
    text-align: center;
  }
}
