.bestdata_count,
.bestdata_subject {
  font-family: 'Play', sans-serif;
  color: white;
  text-shadow: 0px 0px 20px #2DAB66;
}

.bestdata_count {
  font-weight: normal;
  font-size: 54px;
}

.bestdata_subject {
  font-weight: 700;
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  .bestdata_count {
    font-size: 28px;
  }
  .bestdata_subject {
    font-size: 16px;
  }
}
  